<div class="card jumbotron text-dark text-center">
    <div class="card-body">
        <h3 class="card-title">ATN management system</h1>
        <p class="card-text">This is an application for managing enterprise business.</p>
        <a href="/stats" class="btn btn-dark">Dashboard</a>
    </div>
</div>